.hide {
	display:none;
}
.navbar-main .nav-link {
    font-size: 1rem !important;
    font-weight: 700 !important;
}
.card-product .thumbnail {
    margin: 0rem 1rem 0rem 1rem;
}
.section {
    margin-bottom: 1.5rem !important;
}
.section-newsletter {
    min-height: 15rem !important;
}
.mb-5, .my-5 {
    margin-bottom: 1.5rem!important;
}
.mt-5, .my-5 {
    margin-top: 1.5rem!important;
}
.card-product {
    display: block !important;
}
.cke_widget_drag_handler_container {
    display: none !important;
}
.zalo-chat-widget {
    left: 0 !important;
    bottom: 52% !important;
}

/* 
SOCIAL CSS
*/
.social-button {
    display: inline-grid;
    position: fixed;
    bottom: 15px;
    left: 20px;
    min-width: 45px;
    text-align: center;
    z-index: 99999;
}
.lantoa {
    -webkit-transition: height .25s ease, width .25s ease;
    transition: height .25s ease, width .25s ease;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    top: 28px !important;
    right: -38px !important;
}
.lantoa:before,
.lantoa:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 175, 242, 0.5);
}
.lantoa:before {
    -webkit-animation: ripple 2s linear infinite;
    animation: ripple 2s linear infinite;
}
.lantoa:after {
    -webkit-animation: ripple 2s linear 1s infinite;
    animation: ripple 2s linear 1s infinite;
}
.lantoa:hover:before,
.lantoa:hover:after {
    -webkit-animation: none;
    animation: none;
}
@-webkit-keyframes ripple {
    0% {-webkit-transform:scale(1); }
    75% {-webkit-transform:scale(1.75); opacity:1;}
    100% {-webkit-transform:scale(2); opacity:0;}
}

@keyframes ripple {
    0% {transform:scale(1); }
    75% {transform:scale(1.75); opacity:1;}
    100% {transform:scale(2); opacity:0;}
}
.social-button-content{
    display: inline-grid;   
}
.social-button a {
    padding:8px 0;cursor: pointer;position: relative;
}
.social-button i {
    width: 40px;
    height: 40px;
    background: #3a6389;
    color: #fff;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 1.9;
    position: relative;
    z-index: 999;
}
.social-button span{
  display: none;
}
.alo-circle {
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: zoomIn;
    width: 50px;
    height: 50px;
    top: 3px;
    right: -3px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    border-color: #0089B9;
    opacity: .5;
}
.alo-circle-fill {
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: pulse;
    width: 60px;
    height: 60px;
    top: -2px;
    right: -8px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    background-color: rgba(0, 175, 242, 0.5);
    opacity: .75;
}
.call-icon:hover > span, .mes:hover > span, .sms:hover > span, .zalo:hover > span{display: block}
.social-button a span {
    border-radius: 2px;
    text-align: center;
    background: #28a745;
    padding: 9px;
    display: none;
    width: 180px;
    margin-left: 10px;
    position: absolute;
    color: #ffffff;
    z-index: 999;
    top: 9px;
    left: 40px;
    transition: all 0.2s ease-in-out 0s;
    -moz-animation: headerAnimation 0.7s 1;
    -webkit-animation: headerAnimation 0.7s 1;
    -o-animation: headerAnimation 0.7s 1;
    animation: headerAnimation 0.7s 1;
}
@-webkit-keyframes "headerAnimation" {
    0% { margin-top: -70px; }
    100% { margin-top: 0; }
}
@keyframes "headerAnimation" {
    0% { margin-top: -70px; }
    100% { margin-top: 0; }
}
.social-button a span:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #28a745 transparent transparent;
    position: absolute;
    left: -10px;
    top: 10px;
}
/*.success.is-underline:hover, .success.is-outline:hover, .success {
    background-color: #0160a0 !important;
}
.call-mobile {
    background: #ED1C24;position: fixed;bottom: 10px;height: 36px;line-height: 36px;
    padding: 0 0px 0 0px;border-radius: 36px;color: #fff;left: 10px;z-index: 99999;
    font-size: 14px;
}
.call-mobile1 {
    position: fixed;bottom: 95px;height: 40px;line-height: 40px;
    padding: 0 0px 0 0px;border-radius: 40px;color: #fff;left: 10px;z-index: 99999;
    font-size: 14px;
}
.call-mobile2 {
    position: fixed;bottom: 96px;height: 40px;line-height: 40px;
    padding: 0 0px 0 0px;border-radius: 40px;color: #fff;left: 10px;z-index: 99999;
    font-size: 14px;
}
.call-mobile i {
    font-size: 20px;line-height: 40px;background: #B52026;
    border-radius: 100%;width: 40px;height: 40px;
    text-align: center; float: right;
    font-size: 14px;
}
.call-mobile a {
    color: #fff;font-size: 18px;font-weight: bold; text-decoration: none;
    margin-right: 10px; padding-left: 10px;
    font-size: 14px;
}

.hotline {
    position: fixed;
    left: 10px;
    bottom: 20px;
    z-index: 9000;
    display: block;
    background: #df043e;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 99px;
    font-size: 15px;
}
.hotline .hotline-number {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
}
.ctrlq.fb-button {
    z-index: 999;
    background: url(https://thaibinhweb.net/wp-content/uploads/2018/06/201703271048061846_201703271042138304_Facebook-to-scrap-support-for-Messenger-on-Windows-Phone-8-and-8.1-at-the-end-of-March.jpg) center no-repeat #0084ff;
    width: 60px;
    height: 60px;
    text-align: center;
    bottom: 10px;
    border: 0;
    outline: 0;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16);
    -webkit-transition: box-shadow .2s ease;
    background-size: 80%;
    transition: all .2s ease-in-out;
}
.bubble {
    width: 20px;
    height: 20px;
    background: #c00;
    color: #fff;
    position: absolute;
    z-index: 999999999;
    text-align: center;
    vertical-align: middle;
    top: -2px;
    left: -5px;
    border-radius: 50%;
}
.ctrlq.fb-overlay {
    z-index: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    -webkit-transition: opacity .4s, visibility .4s;
    transition: opacity .4s, visibility .4s;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .05);
    display: none;
}
.fb-widget {
    background: #fff;
    z-index: 1000;
    position: fixed;
    width: 360px;
    height: 435px;
    overflow: hidden;
    opacity: 0;
    bottom: 0;
    right: 24px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    -o-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
}
.bubble-msg {
    width: 120px;
    left: -140px;
    top: 5px;
    position: relative;
    background: rgba(59, 89, 152, .8);
    color: #fff;
    padding: 5px 8px;
    border-radius: 8px;
    text-align: center;
    font-size: 13px;
}
.ctrlq.fb-button, .ctrlq.fb-close {
    position: fixed;
    right: 24px;
    cursor: pointer;
    bottom: 20px;
}
.ctrlq.fb-button:focus, .ctrlq.fb-button:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .09), 0 4px 40px rgba(0, 0, 0, .24);
}
.hotline-chat {
    position: fixed;
    bottom: -12px;
    right: -9px;
    z-index: 99;
}
.circle-hotline-chat {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #0080FF;
    -webkit-transition: height .25s ease, width .25s ease;
    transition: height .25s ease, width .25s ease;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    margin-top: 3px;
    margin-left: -3px;
}
.circle-hotline-chat span {
    margin: 12px;
    display: inline-block;
}
.circle-hotline-chat:before,
.circle-hotline-chat:after {
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-radius:50%;
    border: 1px solid #0080FF;
}
.circle-hotline-chat:before {
    -webkit-animation: ripple 2s linear infinite;
    animation: ripple 2s linear infinite;
}
.circle-hotline-chat:after {
    -webkit-animation: ripple 2s linear 1s infinite;
    animation: ripple 2s linear 1s infinite;
}
.circle-hotline-chat:hover:before,
.circle-hotline-chat:hover:after {
    -webkit-animation: none;
    animation: none;
}

@-webkit-keyframes ripple {
    0% {-webkit-transform:scale(1); }
    75% {-webkit-transform:scale(1.75); opacity:1;}
    100% {-webkit-transform:scale(2); opacity:0;}
}

@keyframes ripple {
    0% {transform:scale(1); }
    75% {transform:scale(1.75); opacity:1;}
    100% {transform:scale(2); opacity:0;}
}
.circle-hotline-chat img {
    width: 50px;
    max-width: 100%;
    height: auto;
}
.hotline-chat .phone {
    font-size: 16px;
    font-weight: bold;
    background: #F00;
    color: white;
    padding: 1px 30px 1px 75px;
    border-radius: 39px;
    left: -25px;
    top: -25px;
    position: absolute;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}
#home-chat .hotline-chat .phone p {
    line-height: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}
#home-chat .hotline-chat .phone p a{
    font-style: inherit;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.hotlinefix {
    position: fixed;
    bottom: 6px;
    left: 42px;
    z-index: 99;
}
.circle-hotline {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #F00;
    -webkit-transition: height .25s ease, width .25s ease;
    transition: height .25s ease, width .25s ease;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    margin-top: 3px;
    margin-left: -3px;
}
.circle-hotline span {
    margin: 12px;
    display: inline-block;
}
.circle-hotline:before,
.circle-hotline:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #F00;
}
.circle-hotline:before {
    -webkit-animation: ripple 2s linear infinite;
    animation: ripple 2s linear infinite;
}
.circle-hotline:after {
    -webkit-animation: ripple 2s linear 1s infinite;
    animation: ripple 2s linear 1s infinite;
}
.circle-hotline:hover:before,
.circle-hotline:hover:after {
    -webkit-animation: none;
    animation: none;
}

@-webkit-keyframes ripple {
    0% {-webkit-transform:scale(1); }
    75% {-webkit-transform:scale(1.75); opacity:1;}
    100% {-webkit-transform:scale(2); opacity:0;}
}

@keyframes ripple {
    0% {transform:scale(1); }
    75% {transform:scale(1.75); opacity:1;}
    100% {transform:scale(2); opacity:0;}
}
.circle-hotline img {
    width: 50px;
    max-width: 100%;
    height: auto;
}
.hotlinefix .phone {
    font-size: 14px;
    font-weight: bold;
    background: #FFF;
    color: #F00;
    padding: 8px 30px 1px 75px;
    border-radius: 39px;
    left: -30px;
    top: -29px;
    position: absolute;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}
.hotlinefix .phone p {
    line-height: 8px;
    margin-top: 6px;
    margin-bottom: 4px;
}
.hotlinefix .phone p a{
    font-style: inherit;
    color: #F00;
    text-shadow: none;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
#messengerButton {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.7);
    background: #fff url("https://thaibinhweb.net/wp-content/uploads/2018/05/cbskn-228t7.png") center center no-repeat;
    margin-bottom: 10px;
}
a#messengerButton {outline:none; }
a#messengerButton:hover {
    text-decoration:none;
    background: #f16029 url("https://thaibinhweb.net/wp-content/uploads/2018/05/cbskn-228t7.png") center center no-repeat;
}
a#messengerButton span {
    z-index:10;display:none; 
    padding:10px;
    left:45px;
    width:200px; 
    line-height:16px;
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
a#messengerButton:hover span {
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;
} 
@media (max-width: 640px) {
    a#messengerButton:hover span{
        display: none;
    }
}
#zaloButton {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.7);
    background:  #ef0303 url("https://thaibinhweb.net/wp-content/uploads/2018/05/cbymx-eppw1.png") center center no-repeat;
    margin-bottom: 10px;
}
a#zaloButton {outline:none; }
a#zaloButton:hover {
    text-decoration:none;
    background:  #f16029 url("https://thaibinhweb.net/wp-content/uploads/2018/05/cbymx-eppw1.png") center center no-repeat;
}
a#zaloButton span {
    z-index:10;
    display:none; 
    padding:10px;
    left:45px;
    width:200px; 
    line-height:16px;
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
a#zaloButton:hover span {
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;
}
.ctrlq.fb-button {
    z-index: 999;
    background: url(https://thaibinhweb.net/wp-content/uploads/2018/10/khuong3012.jpg) center no-repeat #0084ff;
    width: 60px;
    height: 60px;
    text-align: center;
    bottom: 10px;
    border: 0;
    outline: 0;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16);
    -webkit-transition: box-shadow .2s ease;
    background-size: 80%;
    transition: all .2s ease-in-out;
}
.bubble {
    width: 20px;
    height: 20px;
    background: #c00;
    color: #fff;
    position: absolute;
    z-index: 999999999;
    text-align: center;
    vertical-align: middle;
    top: -2px;
    left: -5px;
    border-radius: 50%;
}
.ctrlq.fb-overlay {
    z-index: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    -webkit-transition: opacity .4s, visibility .4s;
    transition: opacity .4s, visibility .4s;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .05);
    display: none;
}
.fb-widget {
    background: #fff;
    z-index: 1000;
    position: fixed;
    width: 360px;
    height: 435px;
    overflow: hidden;
    opacity: 0;
    bottom: 0;
    right: 24px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    -o-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
}
.bubble-msg {
    width: 120px;
    left: -140px;
    top: 5px;
    position: relative;
    background: rgba(59, 89, 152, .8);
    color: #fff;
    padding: 5px 8px;
    border-radius: 8px;
    text-align: center;
    font-size: 13px;
}
.ctrlq.fb-button, .ctrlq.fb-close {
    position: fixed;
    right: 24px;
    cursor: pointer;
}
.ctrlq.fb-button:focus, .ctrlq.fb-button:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .09), 0 4px 40px rgba(0, 0, 0, .24);
}
#register-link {
    position: fixed;
    bottom: 160px;
    right: 10px;
    z-index: 1000;
    width: 60px;
}*/
/* 
END SOCIAL CSS
*/
@media (max-width: 1199px) {
    .social-button {
        bottom: 10px;
        left: 15px;
    }
}

@media (min-width: 992px) {
    .pb-lg-4, .py-lg-4 {
        padding-bottom: 0.8rem!important;
        padding-top: 0.8rem!important;
    }
}

@media (max-width: 767.98px) {
    .card-product .thumbnail {
        margin: 0 0 1rem !important;
        padding-top: 130%;
    }
}

