a.nav-link:visited {
    color:#17A53C
}
.parent {
    width: 100vw;
    height: 204px;
    margin: 20px auto;
    overflow: hidden
}
.parent .child {
    width: 20000px;
    display: inline-block;
    animation: marquee 60s linear infinite;
}
@keyframes marquee {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: calc(-1835px + 608px);
    }
}
.parent .child:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}