@font-face {
  font-family: 'SVN-GothamBold';
  src: url('../fonts/SVN-GothamBold.eot');
  src: url('../fonts/SVN-GothamBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SVN-GothamBold.svg#SVN-GothamBold') format('svg'),
       url('../fonts/SVN-GothamBold.ttf') format('truetype'),
       url('../fonts/SVN-GothamBold.woff') format('woff'),
       url('../fonts/SVN-GothamBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SVN-GothamRegular';
  src: url('../fonts/SVN-GothamRegular.eot');
  src: url('../fonts/SVN-GothamRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SVN-GothamRegular.svg#SVN-GothamRegular') format('svg'),
       url('../fonts/SVN-GothamRegular.ttf') format('truetype'),
       url('../fonts/SVN-GothamRegular.woff') format('woff'),
       url('../fonts/SVN-GothamRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SVN-GothamThin';
  src: url('../fonts/SVN-GothamThin.eot');
  src: url('../fonts/SVN-GothamThin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SVN-GothamThin.svg#SVN-GothamThin') format('svg'),
       url('../fonts/SVN-GothamThin.ttf') format('truetype'),
       url('../fonts/SVN-GothamThin.woff') format('woff'),
       url('../fonts/SVN-GothamThin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
    overflow-x: hidden;
}
body{
    font-family: 'SVN-GothamRegular';
    overflow-x: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
img {
    max-width: 100%;
}
.clearfix{
    clear: both;
}
.txt-center{
    text-align: center;
}
.pd-t-20 {
    padding-top: 20px;
}
.pd-t-60 {
    padding-top: 60px;
}
.pd-b-60 {
    padding-bottom: 60px;
}
.pd-t-30 {
    padding-top: 30px;
}
.pd-b-30 {
    padding-bottom: 30px;
}
.pd-b-20 {
    padding-bottom: 20px;
}
.pd-t-50 {
    padding-top: 50px;
}
.pd-b-50{
    padding-bottom: 50px;
}
.mg-t-20{
    margin-top: 20px;
}
.mg-t-0{
    margin-top: 0;
}
.mg-t-50{
    margin-top: 50px;
}
.mg-b-50{
    margin-bottom: 50px;
}

/* Circle */
figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
figure:hover+span {
    bottom: -36px;
    opacity: 1;
}
.img-effect figure {
    position: relative;
}
.img-effect figure::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255,255,255,.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.img-effect figure:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s;
}
@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.f-nav{
    position: fixed;
    top: 0;
    z-index: 999;
    background: #fff;
    width: 100%;
}
.transition{
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.dropdown-submenu {
 position: relative;
}

.dropdown-submenu .dropdown-menu {
 top: 0;
 left: 100%;
 margin-top: -1px;
}
header {
    height: 100px;
    padding: 23px 0 10px;
    border-bottom: 1px solid #FBD3C9;
}
.avatar {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #FDEBE4;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    float: left;
    cursor: pointer;
}
.user-dropdown {
    display: none;
}
a.link-info {
    display: inline-block;
    margin-left: 10px;
    margin-top: 14px;
    font-size: 16px;
    line-height: 22px;
    color: #404040;
    float: right;
    cursor: pointer;
}
.logo{
    text-align: center;
}
.user {
    float: right;
}
.box-user{
    position: relative;
}
.user-dropdown {
    position: absolute;
    top: 76px;
    right: 15px;
    width: 350px;
    z-index: 55;
}
.user-dropdown li {
    padding: 19px 25px;
    background: #FDEBE4;
}
.user-dropdown li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #404040;
}
.fa-angle-right {
    float: right;
    margin-top: 2px;
}
.user-dropdown li:hover, ul.dropdown-menu li a:hover, ul.list-child li a:hover {
    background: #FBD3C9;
}
ul.dropdown-menu {
    min-width: 265px;
    padding: 0;
    margin: 0;
}
ul.dropdown-menu li, ul.list-child li {
    width: 100%;
    background: #FDEBE4;
}
ul.dropdown-menu li a, ul.list-child li a {
    display: block;
    width: 100%;
    padding: 19px 25px;
    background: #FDEBE4;
    font-size: 16px;
    color: #404040;
}
.login {
    width: 100%;
    background: #FDEBE4;
    z-index: 1000;
    padding: 15px 20px;
}
.err-login{
    display: none;
    color: #ff0303;
    font-size: 13px;
}
.btn-default {
    padding-left: 0;
}
.bg-slogan{
    /*background: url('../images/bg-home.png') no-repeat top left;*/
}
.hidden-mobile {
    position: relative;
}
img.bg-slogan {
    position: absolute;
}
.txt-slogan h3 {
    color: #404040;
    font-size: 32px;
    text-transform: uppercase;
}
.txt-slogan h4 {
    color: #D1232A;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'SVN-GothamBold';
}
.txt-slogan p {
    color: #404040;
    font-size: 16px;
    line-height: 24px;
}
.btn-login {
    border: 0;
    margin: 15px 0 2px;
}
.btn-vote {
    background: #D1232A;
    border-radius: 4px;
    color: #fff;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    margin: 20px 5px 20px 5px;
    cursor: pointer;
}
.btn-vote:hover, .btn-vote-item:hover, .btn-vote-detail:hover{
    background: #B41117;
    color: #fff;
}
.box-button {
    background: #fdebe482;
}
.box-button h3 {
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    width: 75%;
    margin: 0 auto;
}
footer{
    background: #FDEBE4;
}
a.backtohome {
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #404040;
    background: url(../images/back.png) no-repeat 0px 3px;
    display: inline-block;
    padding-left: 35px;
}
p.copyright {
    font-size: 14px;
    line-height: 18px;
    color: #404040;
    margin-top: 10px;
    font-weight: normal;
}
.content-home h3 {
    color: #D1232A;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 24px;
    font-family: 'SVN-GothamBold';
}
.content-home h4 {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #404040;
    margin-top: 30px;
    font-family: 'SVN-GothamBold';
}
.content-home {
    /*font-family: 'SVN-GothamThin';*/
    line-height: 24px;
    position: relative;
    padding: 50px 0 10px 0;
}
.img-content{
    position: absolute;
    z-index: 1;
    top: 95px;
    right: 75px;
}
.box-btn-vote {
    display: inline-block;
    position: relative;
}
ul.list-child {
    display: none;
    padding: 0 5px;
    position: absolute;
    z-index: 2;
    top: 68px;
    left: 0px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}
ul.list-child li a{
    padding-top: 19px 0;
}

.description {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
h3.label-list {
    color: #D1232A;
    font-family: 'SVN-GothamBold';
    margin-bottom: 15px;
}
.item {
    width: 100%;
    box-shadow: rgba(226, 224, 224, 0.5) 1px 3px 6px 0px;
    border-radius: 8px;
}
.item {
    width: 100%;
    box-shadow: rgba(226, 224, 224, 0.5) 1px 3px 6px 0px;
    border-radius: 8px;
    padding: 25px 0 15px 0;
}
.img-item {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto 15px;
    border-radius: 50%;
}
.info a {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #404040;
    font-family: 'SVN-GothamBold';
    display: block;
    margin-bottom: 5px;
    padding: 0 20px;
    height: 25px;
    overflow: hidden;
}
.desc-item {
    padding: 0 25px;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #404040;
    margin-bottom: 15px;
    height: 46px;
    overflow: hidden;
}
a.btn-detail {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #404040;
    background: #FDEBE4;
    width: 50%;
    display: inline-block;
    height: 60px;
    padding-top: 19px;
    float: left;
    cursor: pointer;
}
a.btn-vote-item {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #D1232A;
    width: 50%;
    display: inline-block;
    height: 60px;
    padding-top: 19px;
    float: left;
    cursor: pointer;
}
.btn-item {
    height: 60px;
    margin-bottom: 12px;
}
p.total-vote {
    margin: 0;
    display: block;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #404040;
}
.btn-detail:hover, .btn-back:hover{
    background: #f9d4c5;
}
.active-vote {
    background: #219653 !important;
    cursor: default !important;
    pointer-events: none;
}
.active-vote-detail {
    background: #219653 !important;
    cursor: default !important;
    pointer-events: none;
    float: none !important;
    width: 205px !important;
    margin-left: 20px;
}
.btn-vote-item img{
    vertical-align: top;
}
h3.label-group {
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #D1232A;
    font-family: 'SVN-GothamBold';
}
p.line {
    border-bottom: 1px solid #FBD3C9;
    margin-left: 15px;
    margin-right: 15px;
}
.img-detail {
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin: 0 auto 15px;
}
.info-detail{
    background: #FDEBE4;
    min-height: 350px;
    padding: 30px 50px;
}
h3.fullname {
    font-size: 25px;
    line-height: 30px;
    align-items: center;
    text-transform: uppercase;
    color: #D1232A;
    margin: 0;
}
.position {
    position: relative;
}
.position p {
    font-size: 16px;
    line-height: 24px;
    color: #404040;
    margin: 5px 0 0 0;
}
span.label-vote {
    position: absolute;
    top: 2px;
    right: 0;
    background: url('../images/like.png') no-repeat 0px 0px;
    padding-left: 30px;
    background-size: contain;
}
.desc-detail {
    border-top: 1px solid #D1232A;
    margin: 15px 0 0 0;
}
h4.label-tt {
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-transform: uppercase;
    color: #404040;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn-back {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #404040;
    background: #FDEBE4;
    width: 205px;
    display: inline-block;
    height: 60px;
    padding-top: 19px;
    margin-top: 20px;
    cursor: pointer;
}
.btn-vote-detail {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #D1232A;
    width: 205px;
    display: inline-block;
    height: 60px;
    padding-top: 19px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.modal-content {
    text-align: center;
    padding: 25px 0;
}
p.reg-success {
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #27AE60;
    font-family: 'SVN-GothamBold';
    margin-top: 16px;
}
p.name-success {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #404040;
}
.video-detail {
    width: 80%;
    margin: 0 auto;
    padding: 65px 0 0 0;
}
.video-detail iframe, .video-detail video{
    height: 515px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-width: 1190px){

}

@media screen and (max-width: 1024px){
    .video-detail iframe, .video-detail video{
        height: 375px;
    }
    .video-detail {
        width: 100%;
        margin: 0 auto;
        padding: 20px 0 0 0;
    }
    .btn-back {
        float: left;
        width: 48%;
    }
    .btn-vote-detail {
        float: right;
        width: 48%;
        margin-left: 0;
    }
    .info-detail{
        padding: 15px 20px;
    }
    .pd-m-0 {
        padding: 0;
    }
    .hidden-mobile{
        display: none;
    }
    .box-button h3 {
        width: 100%;
        font-size: 20px;
        line-height: 30px;
    }
    .box-btn-vote {
        width: 100%;
    }
    ul.list-child {
        position: unset;
        top: 0;
    }
    .wfm{
        width: 100%;
        margin: 5px 0 !important;
    }
    header {
        padding: 0;
        height: 50px;
    }
    a.avatar {
        width: 35px;
        height: 35px;
        margin-top: 6px;
        float: right;
        margin-right: -12px;
    }
    a.link-info {
        display: none;
    }
    .menu {
        padding-left: 5px;
    }
    button.btn {
        padding: 6px 0;
    }
    .user-dropdown {
        right: -15px;
        width: 225px;
        top: 50px;
    }
    ul.dropdown-menu {
        top: 50px;
        left: -20px;
    }
    .submenu{
        position: initial;
        background: #fdebe4;
    }
    .submenu li a{
        z-index: 99;
        position: relative;
        padding-left: 45px !important;
    }
    .inner-bg {
        margin-top: 20px;
        padding: 0;
    }
    .pd-t-60, .pd-t-50 {
        padding-top: 20px;
    }
    .pd-b-60, .pd-b-50 {
        padding-bottom: 20px;
    }
    .mg-t-50 {
        margin-top: 20px;
    }
    .mg-b-50{
        margin-bottom: 20px;
    }
    .img-detail {
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    
}

/***** Mobile *****/
@media screen and (max-width: 480px) {
    .video-detail iframe, .video-detail video{
        height: 210px;
    }
    span.label-vote {
        position: unset;
        margin-top: 15px;
        display: block;
    }
}
@media screen and (max-width: 320px) {
    .btn-vote-item, .btn-detail {
        font-size: 13px !important;
    }
}